/* Empty. Add your own CSS if you like */
@font-face {
    font-family: 'SignikaRegular';
    src: url('../fonts/Signika-Regular.ttf') format('truetype');
    font-weight: 300;
}

.colornaranja{
	color: #f99e00 !important;
	font-family: 'SignikaRegular', sans-serif;
}

.colorblanco{
	color:white !important;
	font-family: 'SignikaRegular', sans-serif;
}

.bgblack, .bgblack .scroll{
	background-color: #1a1a1a !important;
}

.bgnaranja{
	background-color: #f99e00 !important;
}

.bggris{
	background-color: #666 !important;
}

.center {
	text-align: center !important;
}

.bordernone{
	border:none !important;
}

.font16{
	font-size:1.6em !important;
	line-height:1.1em !important;
}

.font15{
	font-size:1.4em !important;
	line-height:1.1em !important;
}

.font14{
	font-size:1.4em !important;
	line-height:1.1em !important;
}


.font1{
	font-size: 1em !important;
}

.paddingbottom20{
	padding-bottom: 20px !important
}

.paddingbottom10{
	padding-bottom:10px !important;
}

.cursiva {
	font-style: italic !important;
}

.errormessage{
  margin-top:5px !important;
  color:#EF473A !important;
  font-style: italic !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    white !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    white !important;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    white !important;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    white !important;
}

.img-responsive{
	max-width:100% !important;
}

.textright{
	text-align:right !important;
}

.precio{
	margin-right: 10px !important;
	font-size: 2.3em !important;
	display: inline-block !important;
	margin-left:0.2em !important;
}

.btnofertas{
	float:right !important;
	margin-right: 2.1em !important;
}

.borderwhite{
	border: 1px solid white !important;
}

.bgtransparent{
	background-color: transparent !important;
}

.width100{
	width:100% !important;
}

.item-avatar i:first-child, .item-avatar .item-img {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 36px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    border-radius: 4px; 
}

.bggris.activated{
	background-color: rgba(249,158,0,0.5) !important;
}

.margintop4{
	margin-top:4% !important;
}

.width15{
	width: 15%!important;
}

.width18{
	width: 18%!important;
}

.paddingright0{
	padding-right:0 !important;
}

.width32{
	max-width: 32px !important;
}

.textleft{
	text-align:left !important;
}

.margin0{
	margin:0 !important;
}

.item-input{
	margin-bottom: 10px !important;
	border-radius:5px !important;
	border:none !important;
}


.radius5{
	border-radius:5px !important;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999 !important;
}

select{
	background-color: #666 !important;
	color:#999 !important;
	-webkit-appearance:none !important;
	height:2.5em !important;
}

.bgflechaselect{
	background-image: url('../img/flechaselect.png');
	background-repeat: no-repeat;
	background-size: 10%;
	background-position: center right;
}

.bgtalleres{
	border:none !important;
	margin-bottom:10px !important;
	border-radius:5px !important;
}

.myitemavatar{
	max-width: inherit !important;
	max-height: inherit !important;
	height: inherit !important;
	border-radius: 0px !important;
	width: 25% !important;
}

.popup{
	border-radius: 5px !important;
}

.popup-head{
	padding-top:10px !important;
	padding-bottom:5px !important;
}

.popup-title{
	color:#f99e00 !important;
	font-family: 'SignikaRegular', sans-serif !important;
	font-size: 1.7em !important;
	text-transform: uppercase !important;
}

.popup-body{
	text-align: justify !important;
}

.popup-buttons button {
	background-color: #f99e00 !important;
	color: white !important;
	text-transform: uppercase !important;
}

.font11{
	font-size:1.1em;
}
.container{
	text-align: center;
}
body{
	background: black;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100vh;
	margin:0;
}

.input-file {
    background-color: black;
    width: 200px;
    height: 200px;
    position: relative;   
}

.input-file label {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: block;
    background: transparent url(../img/btnfoto.png) no-repeat center center;
}

.input-file input[type=file] {
   display: block;
   width: 100%;
   height: 100%;
   opacity: 0;
}
.form-foto{
	display: flex;
    justify-content: space-around;
}
